PORT=3000
GATEWAY_AUTH_ENABLED=false

AUTH_SERVICE_URL=http://auth-service:3010
DELIVERY_SERVICE_URL=http://delivery-service:3007
DISPATCH_SERVICE_URL=http://dispatch-service:3004
MANIFEST_SERVICE_URL=http://manifest-service:3005
MASTERDATA_SERVICE_URL=http://masterdata-service:3001
PICKUP_SERVICE_URL=http://pickup-service:3003
REPORTING_SERVICE_URL=http://reporting-service:3009
SCAN_SERVICE_URL=http://scan-service:3006
SHIPMENT_SERVICE_URL=http://shipment-service:3002
TRACKING_SERVICE_URL=http://tracking-service:3008
