PUBLIC_HOST=103.179.172.53
GATEWAY_PUBLIC_URL=http://103.179.172.53:3000
MINIO_PUBLIC_ENDPOINT=http://103.179.172.53:9000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-postgres-password

RABBITMQ_DEFAULT_USER=nexus
RABBITMQ_DEFAULT_PASS=change-this-rabbitmq-password

MINIO_ROOT_USER=nexusminio
MINIO_ROOT_PASSWORD=change-this-minio-password
MINIO_BUCKET_NAME=nexus-pod-images

GATEWAY_AUTH_ENABLED=true
CORS_ORIGINS=http://103.179.172.53:5173,http://103.179.172.53:5174,http://103.179.172.53:5175,http://103.179.172.53:5176

ACCESS_TOKEN_TTL_SECONDS=900
REFRESH_TOKEN_TTL_SECONDS=2592000

COMPANY_BANK_NAME=Vietcombank
COMPANY_BANK_ACCOUNT_NUMBER=1234567890
COMPANY_BANK_ACCOUNT_NAME=CONG TY TNHH NEXUS EXPRESS
COMPANY_BANK_BIN=970436
SEPAY_WEBHOOK_SECRET=
SEPAY_WEBHOOK_API_KEY=
SEPAY_WEBHOOK_TOLERANCE_SECONDS=300
SEPAY_BANK_ACCOUNT_NUMBER=1234567890
SEPAY_AMOUNT_TOLERANCE_VND=0

OPS_WEB_PORT=5173
MERCHANT_WEB_PORT=5174
ADMIN_WEB_PORT=5175
PUBLIC_TRACKING_PORT=5176
GATEWAY_PORT=3000
MINIO_API_PORT=9000

SEED_DEMO_DATA=1
